https://github.com/pybrain/pybrain/archive/0.3.3.zip
alembic==0.8.10
appdirs==1.4.0
click==6.7
dask==0.13.0
decorator==4.0.11
Flask==0.12
Flask-HTTPAuth==3.2.2
Flask-Login==0.4.0
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==0.23
networkx==1.11
numpy==1.12.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
pyparsing==2.1.10
python-editor==1.0.3
requests==2.13.0
scikit-image==0.12.3
scipy==0.18.1
six==1.10.0
SQLAlchemy==1.1.5
toolz==0.8.2
tqdm==4.11.2
Werkzeug==0.11.15
