{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h3>Upload learning sample</h3>
        <form class="form-signin" action="/sample/add" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.archived_images(class_="form-control") }}
            </div>

            <p class="lead"></p>
            <button id="btn-signin" class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>

            <p class="lead"></p>
            {% include "flashes.html" %}
        </form>

    </div>

{% endblock %}
